<table scrollY="true" class="table">
    <thead>
      <tr>
        <th scope="col" class="col-md-4">Email</th>
        <th scope="col" class="col-md-4">Name</th>
        <th scope="col" class="align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersRequested">
        <td class="align-middle">{{ user.email }}</td>
        <td class="align-middle">{{ user.name }}</td>
        <td class="align-middle">
            <button mat-mini-fab (click)="setVIPStatus(user)">
            <mat-icon>done</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
</table>