<table scrollY="true" class="table">
    <thead>
      <tr>
        <th scope="col" class="align-middle">Email</th>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">mark@gmail.com</td>
        <td class="align-middle">Mark</td>
        <td class="align-middle">
            <button mat-mini-fab>
            <mat-icon>done</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td class="align-middle">mark@gmail.com</td>
        <td class="align-middle">Mark</td>
        <td class="align-middle">
            <button mat-mini-fab>
            <mat-icon>done</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
</table>