<div class="top-menu">
    <ul class="menu-main">
      <li><a routerLink="/budget">Budget</a></li>
      <li><a routerLink="/analysis" class="current">Analysis</a></li>
      <li *ngIf="this.userService.currUser?.status != 1"><button (click)="createVIPDialog()">VIP</button></li>
      <li><a routerLink="">Sign out</a></li>
    </ul>
</div>
<div class="text">Period: </div>

<input type="date"/>
<input type="date"/>

<div class="img">
    <img src="assets/d1.jpg">
    <img src="assets/d1.jpg">
</div>


<div class="text">Sphere: </div>
<mat-form-field>
<mat-label>Select a sphere:</mat-label>
<mat-select [(value)]="selected">
    <mat-option value="Food">Food</mat-option>
    <mat-option value="Home">Home</mat-option>
    <mat-option value="Car">Car</mat-option>
    <mat-option value="Self care">Self care</mat-option>
    <mat-option value="Technic">Technic</mat-option>
    <mat-option value="Pet">Pet</mat-option>
    <mat-option value="Entertainment">Entertainment</mat-option>
    <mat-option value="More">More</mat-option>
</mat-select>
</mat-form-field>
<button class="button btn">Ok</button>

<div class="img">
    <img src="assets/d1.jpg">
</div>
  

