<div class="top-menu">
    <ul class="menu-main">
      <li><a routerLink="/budget">Budget</a></li>
      <li><a routerLink="/analysis" class="current">Analysis</a></li>
      <li *ngIf="this.userService.currUser?.status != 1"><button (click)="createVIPDialog()">VIP</button></li>
      <li><a routerLink="">Sign out</a></li>
    </ul>
</div>
<div class="text">Period: </div>

<input type="date" [(ngModel)]="beginning" (change)="updateGraphics()">
<input type="date" [(ngModel)]="ending" (change)="updateGraphics()">

<div class="img">
    <div>
        <ngx-charts-bar-vertical
          [view]="[500, 300]"
          [scheme]="colorScheme"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="expenses">
        </ngx-charts-bar-vertical>
    </div>
</div>


<div class="text">Spheres: </div>

<div class="img">
    <ngx-charts-pie-chart
      [view]="[500, 300]"
      [scheme]="'forest'"
      [results]="expenseDistribution"
      [legend]="false"
      [labels]="false"
      [doughnut]="true">
    </ngx-charts-pie-chart>
</div>
  

