<div class="container">
    <h2 mat-dialog-title>Create new card</h2>
    <mat-dialog-content>
        <form [formGroup]="createCardForm" (ngSubmit)="onSubmit()">
                <label>Name:</label>
                <input type="text" formControlName="name" class="form-control">
                <label>Amount:</label>
                <input type="number" formControlName="amount" class="form-control">
            <div style="margin-top: 20px;">
                <button type="submit" [disabled]="createCardForm.invalid" [mat-dialog-close]="true" class="btn btn-primary">
                    Create
                </button>
                <button class="button btn-close" [mat-dialog-close]="true">Close</button>
            </div>
        </form>
    </mat-dialog-content>
</div>
    