@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.header{
    padding: 2%;
    background: #00a86b; 
    color: white;
    font-size: 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
}


