.form-center {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    background-color: #00a86b;
}

.money-background {
    margin-top: 85px;
    padding: 7.5%;
}

