.container {
    display: flex;
    flex-direction: column;
  }

.mat-dialog-title {
    text-align: center;
  }

.div-button{
    justify-content: center;
}

.button{
    color: #00a86b;
    margin: 10px;
    outline: none;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.btn-close{
    color:black;
    font-weight: 500;
}
