
<div class="top-menu">
    <ul class="menu-main">
      <li><a routerLink="/budget" class="current">Budget</a></li>
      <li><a routerLink="/analysis">Analysis</a></li>
      <li *ngIf="this.userService.currUser?.status != 1"><button (click)="createVIPDialog()">VIP</button></li>
      <li><a routerLink="">Sign out</a></li>
    </ul>
</div>

<div style="text-align: left; margin-top: 40px;" cdkDropList cdkDropListOrientation="horizontal"
    #cardsList="cdkDropList"
    [cdkDropListData]="cards"
    [cdkDropListConnectedTo]="[spheresList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
<div class="group" *ngFor="let card of cards">
    <button class="button-content" cdkDrag (click)="createEditCardDialog(card)">
        <mat-icon>{{ card.icon }}</mat-icon>
    </button>
    <div style="margin-left: 40px; margin-top: 10px;">{{ card.name }}</div>
    <div style="margin-left: 40px; font-weight: bold;">{{ card.amount }}</div>
</div> 
<div class="group">
    <button class="button-content" (click)="createCardDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <div style="margin-left: 40px;margin-top: 10px;">Add card</div>
    <div style="margin-left: 40px;">&#160;</div>
</div> 
</div>

<div style="text-align: left;">
    <div class="text">Total amount spent: {{ totalAmountSpent }}</div>
    <div class="text">Remaining funds: {{ remainingFunds }}</div>
</div>

<div style="text-align: left; margin-top: 50px;" cdkDropList cdkDropListOrientation="horizontal"
    #spheresList="cdkDropList"
    [cdkDropListData]="spheres"
    [cdkDropListConnectedTo]="[cardsList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="group" *ngFor="let sphere of spheres">
        <button class="button-content">
            <mat-icon>{{ sphere.icon }}</mat-icon>
        </button>
        <div style="margin-left: 40px; margin-top: 10px;">{{ sphere.name }}</div>
        <div style="margin-left: 40px; font-weight: bold;">{{ sphere.amount }}</div>
    </div> 
    <div class="group">
        <button class="button-content" (click)="createSphereDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <div style="margin-left: 40px; margin-top: 10px;">Add sphere</div>
        <div style="margin-left: 40px;">&#160;</div>
    </div> 
</div>



       
    
