
<nav class="top-menu">
    <ul class="menu-main">
      <li><a href="" class="current">Budget</a></li>
      <li><a href="">Analisys</a></li>
      <li><a href="">VIP</a></li>
      <li><a href="">Sign out</a></li>
    </ul>
  </nav>


<div style="text-align: left;">
<div class="group">
    <button class="button">
        <mat-icon>credit_card</mat-icon>
    </button>
    <div style="margin-left: 40px;">Card</div>
</div> 
<div class="group">
    <button class="button">
        <mat-icon>add</mat-icon>
    </button>
    <div style="margin-left: 40px;">Add card</div>
</div> 
<div class="group">
    <button class="button">
        <mat-icon>account_balance_wallet</mat-icon>
    </button>
        <div style="margin-left: 40px;">Wallet</div>
</div> 
</div>

<div style="text-align: left;">
    <div class="text">Total amount spent: </div>
    <div class="text">Remaining funds: </div>
</div>



       
    
